%html{:lang => "en"}
    %head
        %link{:rel => "stylesheet",
              :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
              :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
              :crossorigin => "anonymous"}
        :css
            body {
              padding: 10px;
              max-width: 1024px;
              vertical-align: middle;
              display: table-cell;
            }
            html {
              display: table;
              margin: auto;
            }
    %body
        %section
            %h1
                Croscon Beer Club Round 11:
                %a{:href => "http://folksbier.com/home.html"} Folksbier (03/24/17)

            %p
                Find a spot at the bar and jam your way in, because it's time for more drinks!
            %p
                Last time we trekked out to Gowanus and apparently went to a bar that
                was "too crowded". Granted, we ended up getting two entire tables to
                ourselves, sitting 10 people, and were one of the last ones to close
                out the bar... but it was "too crowded". The beers were pretty good, but
                the food was damn good. Definitely not our best outing, but also not our
                worst.
                %br/
                %br/
                However, let's see if Brooklyn can redeem itself, like we know it can!
        %section
            %h2
                brew install croscon/beerclub/11
            %hr/
            %p
                For our eleventh trip, we're going to give Brooklyn another shot, but
                this time head to the Carroll Gardens area to visit
                %a{:href => "http://folksbier.com/home.html"} Folksbier.
                Folksbier claims they make beer "the old fashioned way", while incorporating
                the best of new technologies. They have a focus on traditional older
                flavors, but also combine some of the new hotness in as well. They also
                have a very small and simple website that doesn't give a ton of information.
                They seem to have a strong preference for German style beers.
            %p
                Currently on tap, are five German style beers (lager, pils, kolsch, pale ale,
                and a sour Weisse!), a saison, a rye, and a classic American Pale Ale. It
                looks like they generally have eight beers on tap, but some of those items may
                have rotated by now. Looks like food is right out, but they're open until
                midnight.
            %p
                While, I'll be calling and asking about reservations shortly, I would be remiss
                if I didn't mention why Folksbier was a clear winner. With the outcries of
                overcrowding, I wanted to choose a brewery near a backup location. Luckily,
                Folksbier is located right next to
                %a{:href => "http://www.otherhalfbrewing.com/info#beer"} Other Half Brewing!
                Other Half is also open until midnight and about a ten minute walk. Between
                the two of them, we should have no problem finding somewhere to sit and relax.
                Other Half is more modern and less German than Folksbier, so you'll see a lot
                of IPA's and Pale Ales over there. While their tap menu isn't on their website,
                I've had their Flowerzzz beer and it's quite delightful.
            %p
                Travel to both breweries is a simple 35 minute trip on the F train. They're
                both located relatively close to Threes (our last location), to give you
                an idea of the commute home.
            %p
                Tap rooms open at 4, but with the movement of Producer's, we likely won't be
                able to head out until 5:30pm, putting us at a nice 6:15pm arrival. As such,
                we'll be leaving at 5:30 pm on
                %b Friday, March 24th.
                There's no "That's My Jam" that day (I'll be hosting that the following
                week), as a note.
            %p
                As always, everyone is welcome, and so are friends. I'll be bringing a few of
                my friends from out of town for you all to meet. As a reminder, this is my last
                official Beer Club as a Crosconian (for the time being), so if you can make it
                out... please do!
        %section
            %h2 The Guest List (so far)
            %hr/
            %p
                %ul
                    %li Hayden Chudy
                    %li Eli Gundry
                    %li Neil Daftary
                    %li Adam Heim
                    %li Pook
                    %li Joel Ponce (HJC Friend)
                    %li Pete + GF (HJC Friend)
                    %li Possibly the Patel clan?...
        %section
            %h2 Additional Notes
            %p
                %ul
                    %li 
                        Chose HAML this time, because I figured it would be easy...
                        It was. Very easy.
                        %ul
                            %li Only issue is that nesting...
                            %ul
                                %li Can get a little indent-y.
                    %li 
                        Ripped off that same styling I used for the originl HTML invite. I
                        like that so much now that I think I'll use that to stylize my website!
                        (Which I swear I'm gonna make when I get my time off.)
                    %li
                        This is my last beer club as an official Crosconian, so we'll likely
                        have a name change for the 12th run. Given that that's our anniversary
                        run, that seems super fitting!
                        %ul
                            %li
                                Oh yea, the next run celebrates one full year of beer clubs!
                                Thanks for coming out and being awesome!
                    %li
                        Again, beer club won't stop, so expect an invite from me sometime
                        randomly in April for wherever our 12th location is (maybe a reprise
                        to Transmitter for the new folks?!).
