# {{ title }}

{{ intro }}

## brew cask install hjc/beerclub/{{ trip_number }}

{{ body }}

## The Guest List

{% for guest in guest_list %}
* {{ guest }}
{% endfor %}

{%- if notes %}
## Additional Notes

{{ notes }}

{%- endif %}

Rendered from source file: [{{ source }}](/{{ source }}).
